@model Dictionary<Room, List<DateOnly>>

@{
    ViewBag.Title = "Home | Status";

    // Min = First day of the month
    // Max = First day of next month
    
    // TODO
}

@section head {
    <style>
        table {
            border-collapse: collapse;
        }

        table caption {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 5px;
        }

        td, th {
            border: 1px solid #999;
            padding: 5px;
        }

        .x {
            background: tomato;
        }

        .o {
            background: lightgreen;
        }
    </style>
}

<p>
    @* Generate links for previous, current and next months *@
    TODO
</p>

<table>
    <caption>TODO</caption>

    <tr>
        <th></th>
        @* Generate headers (dates) *@
        @* TODO *@
    </tr>

    @* Generate contents (class = x or o) *@
    @* TODO *@
</table>
